*{
  
  list-style: none;
 
  text-decoration: none;
  margin: 0px;
  box-sizing: border-box;
}


body{
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}


.icon-bar {
  width: 100%; 
  background-color: #04AA6D;
  right: 50;
}

.icon-bar a {
  float: left; 
  text-align: center;
  width: 20%; 
  padding: 12px 0; 
  transition: all 0.3s ease; 
  color: white;
  font-size: 36px; 
  padding-left: 180px;
  z-index: 10px;
  
}

.icon-bar a:hover {
  background-color: #000; 
}

.active {
  background-color: #04AA6D;
}




.imagen1{
width: 20%;
right: 50%;
border-radius: 100px;
float: left;
}

.imagen2{
  width: 20%;
  right: 50%;
  border-radius: 100px;
  float: right;
  }
  .imagen3{
    width: 20%;
    right: 50%;
    border-radius: 100px;
    float: left;
    }
    .imagen4{
      width: 20%;
      right: 50%;
      border-radius: 100px;
      float: right;
      }

      #BARRA a {
        left: -80px; 
        transition: 0.2s; 
        height: 55px;
        padding: 15px;
        width: 100px; 
        text-decoration: none; 
        font-size: 15px; 
        color: white;
        border-radius: 0 5px 5px 0; 
        text-align: center;
        position: fixed;
        z-index: 10;
      }
      
      #BARRA a:hover {
        left: 0; 
      }
      #INICIO{
  top: 20px;
  background-color: #30cfd0;
}


#ISLAS {
  top: 85px;
  background-color: #30cfd0;
}

#VIDEO {
  top: 146px;
  background-color: #30cfd0;
}

#CONTACTOS {
  top: 206px;
  background-color: #30cfd0;
}

h1{
  text-align: center;
  font-size: 20px;
}
p{
text-align: right;
}

footer{
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  padding-bottom: 0.1px;

}

.footer-content{
  padding-top: 60px;
  padding-bottom: 40px;
}
.social-media-icon{
  margin-left: 0px;
  font-size: 50px;
}

.qqqqq{
  font-size: 20px;
}